<div class="ui container vertical segment">
  <header role="banner">
    <h1>{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="rte header">
        <h5>{{ collection.description }}</h5>
      </div>
    {% endif %}
  </header>
</div>
<div class="ui container vertical segment">
  <div class="ui four cards">
    {% paginate collection.products by 12 %}
      {% for product in collection.products %}
        <div class="ui raised card">
          <div class="image">
            <img src="{{ product.featured_image.src | img_url: '480x480' }}" alt="{{ product.featured_image.alt | escape }}">
          </div>
          <div class="content">
            <a class="header" href="{{ product.url | within: collection }}">{{ product.title }}</a>
            <div class="meta">
              {% if product.compare_at_price > product.price %}
                {% if product.price_varies %}
                  {%- assign sale_price = product.price | money -%}
                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {% else %}
                  <strong>{{ 'products.product.on_sale' | t }}</strong>
                  {{ product.price | money }}
                {% endif %}
              {% else %}
                {% if product.price_varies %}
                  {%- assign price = product.price | money -%}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}
              {% endif %}

              {% if product.compare_at_price > product.price %}
                  <i><span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span></i>
                  <i><s>{{ product.compare_at_price | money }}</s></i>
              {% endif %}

              {% unless product.available %}
                {{ 'products.product.sold_out' | t }}
              {% endunless %}
            </div>
            <div class="description">
              {{ product.description}}
            </div>
          </div>
          <div class="extra content">
            <strong>Product SKU: </strong>{{ product.variants.first.sku }}
          </div>
        </div>
      {% endfor %}
  </div>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endpaginate %}
</div>
