<style >
  ul {
    list-style: none;
  }
  .hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

  .ui.vertical.stripe {
    padding: 8em 0em;
  }
  .ui.vertical.stripe h3 {
    font-size: 2em;
  }
  .ui.vertical.stripe .button + h3,
  .ui.vertical.stripe p + h3 {
    margin-top: 3em;
  }
  .ui.vertical.stripe .floated.image {
    clear: both;
  }
  .ui.vertical.stripe p {
    font-size: 1.33em;
  }
  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
  }

  .quote.stripe.segment {
    padding: 0em;
  }
  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .footer.segment {
    padding: 5em 0em;
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }
</style>


<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    {% for link in linklists[section.settings.main_linklist].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {% if menus[child_list_handle].links != blank %}
        <div class="{% if link.active %}active{% endif %} ui simple dropdown item">
          {{ link.title }}
          <i class="dropdown icon"></i>
          <div class="menu transition hidden">
            {% for childlink in menus[child_list_handle].links %}
              <a href="{{ childlink.url }}" class="item {% if childlink.active %}active{% endif %}">{{ childlink.title | escape }}</a>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div {% if link.active %}class="active"{% endif %}>
          <a href="{{ link.url }}" class="item">{{ link.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
    <div class="ui right fluid search item">
      <div class="ui transparent icon input">
        <i class="search icon"></i>
        <input class="prompt" name="q" type="text" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}"
        <div class="results"></div>
      </div>
    </div>
  </div>
</div>

<!-- Secondary menu -->
<div class="pusher">
  <div class="ui inverted vertical segment">
    <div class="ui container">
      <div class="ui large secondary inverted menu">
        <div class="header item"> Shopify Semantic UI</li>
        {% for link in linklists[section.settings.main_linklist].links %}
          {%- assign child_list_handle = link.title | handleize -%}
          {% if menus[child_list_handle].links != blank %}
            <div class="ui dropdown item">
              {{ link.title }}
              <i class="dropdown icon"></i>
              <div class="menu transition hidden">
                {% for childlink in menus[child_list_handle].links %}
                  <a href="{{ childlink.url }}" class="item {% if childlink.active %}active{% endif %}">{{ childlink.title | escape }}</a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div {% if link.active %}class="active"{% endif %}>
              <a href="{{ link.url }}" class="item">{{ link.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
        <div class="ui right item">
          <div class="ui transparent inverted left icon input">
            <i class="search icon"></i>
            <input class="prompt" name="q" type="text" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}">
            <div class="results"></div>
          </div>
          <div class="ui dropdown item">
            Simple search
            <i class="dropdown icon"></i>
            <div class="menu transition hidden">
              <a class="item" href="#">Advanced search</a>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "250"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
